!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%title FixMe
		%link{rel:"stylesheet", href:"/css/app.css", media:"all"}
	%body
		#dynamic_section
		.version<Ruby #{RUBY_VERSION}
		%script{src: "/js/app.js"}
